/*  _about.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

#about
  +flex
  padding-top: 300px
  margin-left: 5%
  margin-right: 5%

  +tablet
    padding-top: 30px

  +desktop
    +maximum

  header
    +flex
    flex: 1 0 100%

    h2
      flex: 1 0 100%


      +tablet
        flex: 0 0 20%

    p
      flex: 0 0 100%
      padding-top: 40px

      +tablet
        flex: 0 0 80%
        padding-top: 0
  

#directory
  +flex(flex, flex-start, flex-start, wrap)
  flex: 0 0 100%
  margin-top: 50px

  +tablet
    flex: 0 0 50%


  h3
    flex: 1 0 100%
    margin-bottom: 25px


.list
  flex: 0 0 35%
  margin-right: 20px

  +tablet
    margin-right: 50px

  h2
    margin-top: 10px
  
  p 
    margin-top: 5px

.list:nth-child(n+4)
  margin-top: 50px

#biography
  flex: 0 0 100%
  +flex
  margin-top: 80px
  margin-bottom: 80px

  +tablet
    flex: 0 0 50%

  .arrow
    display: none

    +tablet
      display: initial
      flex: 0 0 15%
  
  #writeups
    flex: 0 0 100%
    height: 500px
    position: relative

    +tablet
      flex: 0 0 70%

    .writeup
      position: absolute
      height: 100%
      width: 100%
      top: 0
      left: 0
      opacity: 0
      transition: opacity 0.5s ease-in-out


.arrow
  svg 
    width: 15px
    height: 15px


.arrow#left
  transform: rotate(180deg)
  padding-bottom: 125px
  padding-left: 30px


.arrow#right
  padding-top: 130px
  padding-left: 30px



/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

#about
  header
    h2 
      @extend .chron-d
      font-size: $bx3
      color: $lime
      text-transform: initial

    p
      font-size: $bx2
      letter-spacing: 0.05em
      line-height: 1.6em
      text-transform: uppercase
       

#directory
  h3
    font-size: $sx1


  .list
    border-top: 2px solid $lime
  
    &:hover
      h2
        color: $lime
      p
        color: $lime

    p
      font-size: $sx2
      line-height: 1.5em
      text-transform: uppercase 
      transition: color 0.3s
  
    h2 
      transition: color 0.3s

#biography
  font-size: $sx1
  line-height: 1.7em
