/* URI */
$uri: "/south-street-partners/content/themes/ssp/"

/* Colors */

$black: #484F57
$darkgrey: #5A6267
$white: #fff
$lime: #619F42

/* Font Sizes & Fonts */

$sx3: 0.5em
$sx2: 0.7em
$sx1: 0.8em
$body: 18px
$bx1: 1.2em 
$bx2: 1.4em
$bx3: 1.6em  
$bx4: 2em
$bx5: 2.3em  
$bx6: 2.6em  


.chron-d
	font-family: "Chronicle Display A", "Chronicle Display B"
	font-style: normal
	font-weight: 400

.sweet-m
  font-family: "Sweet Sans Medium", sans-serif
  font-style: normal
  font-weight: normal

.goth-b
	font-family: "Gotham SSm A", "Gotham SSm B"
	font-style: normal
	font-weight: 400


